.carousel {
    // position: relative;
    // width: 100%;
}

.carousel-scroll-container {
    /* Enable horizontal scrolling */
    // overflow-x: auto;
    /* Enable horizontal scroll snap */
    // scroll-snap-type: x proximity;
    /* Smoothly snap from one focal point to another */
    // scroll-behavior: smooth;

    // Modifier classes for a full width slideshow
    // .slideshow & {
    //     /* Mandatory scroll snap is more consistent for a slideshow */
    //     scroll-snap-type: x mandatory;
    // }

    // &.with-js {
    //     scroll-snap-type: none;
    // }

    .overlays-active & .center-point {
        position: absolute;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: red;
        box-shadow: 0 0 2px 0px red;
        z-index: 99;

        &.focal-point-start {
            left: calc(50% * var(--center-point-offset, 1));
        }
        &.focal-point-end {
            right: calc(50% * var(--center-point-offset, 1));
        }
    }

    .overlays-active &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(var(--skip-ahead-threshold, 1) * var(--width-of-previous-slide, 1));
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 1;
        background-color: hsla(244, 100%, 50%, 0.25);
        pointer-events: none;
    }
    .overlays-active &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: calc(var(--skip-ahead-threshold, 1) * var(--width-of-next-slide));
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 1;
        background-color: hsla(244, 100%, 50%, 0.25);
        pointer-events: none;
    }
}

.carousel-items {
    /* Arrange media horizontally */
    // display: flex;
    // gap: 2rem;
}

.carousel-slide {
    // position: relative;
    // /* Limit the height of each media item */
    // height: 300px;
    // /* Prevent media from shrinking */
    // flex-shrink: 0;
    // /* The focal point for each item is the center */
    // scroll-snap-align: center;

    // &:first-of-type {
    //     /* Allow users to fully scroll to the start */
    //     scroll-snap-align: start;
    // }

    // &:last-of-type {
    //     /* Allow users to fully scroll to the end */
    //     scroll-snap-align: end;
    // }

    // .with-js & {
    //     /* Disable scroll snap */
    //     scroll-snap-align: none;
    // }
    .overlays-active &.focal-image::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: hsla(0, 100%, 50%, 0.25);
        z-index: 1;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    .overlays-active & .center-point {
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background-color: blue;
        z-index: 99;
    }
    /* Target direct descendant too in case the images have a wrapper parent */
    & figure,
    & .carousel-item-wrapper,
    & > * {
        // position: relative;
        // & figcaption {
        //     color: white;
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     width: 100%;
        //     padding: 0.25rem;
        //     text-align: center;
        //     background-color: hsl(0deg 0% 0% / 75%);
        //     font-size: small;
        // }
        // & img {
        //     /* Remove line height (typically done in a CSS reset) */
        //     display: block;
        //     /* Responsive width based on aspect ratio */
        //     width: auto;
        // }
    }
    // & > *,
    // & picture,
    // & figure,
    // & img {
    //     height: 100%;
    // }

    // // Modifier classes for a full width slideshow
    // .slideshow & {
    //     /* Or whatever value works for you */
    //     height: 300px;
    //     /* Full-width slides */
    //     width: 100%;
    // }

    // .slideshow & > *,
    // .slideshow & picture,
    // .slideshow & figure,
    // .slideshow & img {
    //     /* Cover the slide */
    //     width: 100%;
    //     height: 100%;
    // }
    // .slideshow & img {
    //     /* Crop and center overflowing images */
    //     object-fit: cover;
    //     object-position: center;
    // }

    &.video-slide {
        width: 533px;
        & video {
            width: 100%;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            object-position: center;
        }
    }
}

.carousel-control {
    // display: none;
    // --offset-x: 0;
    // cursor: pointer;
    // /* Anchor the controls relative to the outer wrapper */
    // position: absolute;
    // /* Center the controls vertically */
    // top: 50%;
    // transform: translateY(-50%);
    // .js & {
    //     display: block;
    // }
}
/* Don't allow icons to be event targets */
// .carousel-control * {
//     pointer-events: none;
// }
// .carousel-control[data-direction="start"] {
//     /* Same as left in LTR and right in RTL */
//     inset-inline-start: var(--offset-x);
//     &[aria-disabled="true"] {
//         filter: opacity(0.5);
//         cursor: not-allowed;
//     }
// }
// .carousel-control[data-direction="end"] {
//     /* Same as right in LTR and left in RTL */
//     inset-inline-end: var(--offset-x);

//     &[aria-disabled="true"] {
//         filter: opacity(0.5);
//         cursor: not-allowed;
//     }
// }
// .carousel {
//     @apply relative w-full;
// }

// .carousel-scroll-container {
//     @apply overflow-x-auto scroll-snap-type-x-proximity scroll-behavior-smooth;

//     .slideshow & {
//         @apply scroll-snap-type-x-mandatory;
//     }

//     &.with-js {
//         @apply scroll-snap-type-none;
//     }

//     .overlays-active & .center-point {
//         @apply absolute top-0 w-1 h-full bg-red-500 shadow-red-500 z-99;

//         &.focal-point-start {
//             @apply left-[calc(50% * var(--center-point-offset, 1))];
//         }
//         &.focal-point-end {
//             @apply right-[calc(50% * var(--center-point-offset, 1))];
//         }
//     }

//     .overlays-active &::before {
//         @apply absolute top-0 left-0 w-[calc(var(--skip-ahead-threshold, 1) * var(--width-of-previous-slide, 1))] h-full flex justify-center items-center overflow-hidden z-1 bg-hsla-244-100-50-25 pointer-events-none;
//     }
//     .overlays-active &::after {
//         @apply absolute top-0 right-0 w-[calc(var(--skip-ahead-threshold, 1) * var(--width-of-next-slide))] h-full flex justify-center items-center overflow-hidden z-1 bg-hsla-244-100-50-25 pointer-events-none;
//     }
// }

// .carousel-items {
//     @apply flex gap-8;
// }

// .carousel-slide {
//     @apply relative h-96 flex-shrink-0 scroll-snap-align-center;

//     &:first-of-type {
//         @apply scroll-snap-align-start;
//     }

//     &:last-of-type {
//         @apply scroll-snap-align-end;
//     }

//     .overlays-active &.focal-image::after {
//         @apply absolute top-0 left-0 bg-hsla-0-100-50-25 z-1 w-full h-full pointer-events-none;
//     }
//     .overlays-active & .center-point {
//         @apply absolute top-0 left-1/2 w-1 h-full bg-blue-500 z-99;
//     }

//     & figure,
//     & .carousel-item-wrapper,
//     & > * {
//         @apply relative;

//         & figcaption {
//             @apply text-white absolute bottom-0 left-0 w-full p-1 text-center bg-hsl-0-0-0-75 text-sm;
//         }
//         & img {
//             @apply block w-auto;
//         }
//     }
//     & > *,
//     & picture,
//     & figure,
//     & img {
//         @apply h-full;
//     }

//     &.video-slide {
//         @apply w-96;

//         & video {
//             @apply w-full aspect-w-16 aspect-h-9 object-cover object-center;
//         }
//     }
// }

// .carousel-control {
//     @apply hidden;
//     --offset-x: 0;
//     @apply cursor-pointer absolute top-1/2 -translate-y-1/2;

//     .js & {
//         @apply block;
//     }
// }

// .carousel-control * {
//     @apply pointer-events-none;
// }

// .carousel-control[data-direction="start"] {
//     @apply inset-inline-start-0;

//     &[aria-disabled="true"] {
//         @apply filter-opacity-50 cursor-not-allowed;
//     }
// }

// .carousel-control[data-direction="end"] {
//     @apply inset-inline-end-0;

//     &[aria-disabled="true"] {
//         @apply filter-opacity-50 cursor-not-allowed;
//     }
// }
